/* analysis.scss */

.box.colors,
.box.load,
.box.design-principles {
  color: $box-color-3;
  background-color: $box-color-2;
}

.box.colors:hover,
.box.load:hover,
.box.design-principles:hover {
  background-color: $box-color-2-hover;
}

.color-table {
  border-spacing: 4px;
  border-collapse: separate;

  td {
    height: 50px;
    width: 50px;
  }
}

.offset {  
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
  
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}
