html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: $background-color;
  // background-image: linear-gradient(to bottom right, $background-color, $offwhite-color);
  // background-attachment: fixed;

  ::selection { // firefox
    color: $box-text-light;
    background: $primary-color;
  }
  
  ::selection {
    color: $box-text-light;
    background: $primary-color;
  }
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
  width: 100%;
  max-width: 64rem;
  padding: 2rem;
  margin: 1.5rem auto;

  a {
    color: $link-color;
  }

  img {
    border: 5px solid $primary-color;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  }
}

.hidden {
  display: none !important;
}
