.header {
  background-color: $header-background;

  @include flex-container;
  width: 100%;
  padding: 2rem;
}

.site-header {
  @include flex-container;
  gap: 5vw;

  h1 {
    font-size: 2.5em;
    font-family: 'Prosto One', sans-serif;
  }

  a {
    color: $header-nav;
    text-decoration: none;
  }

  a:hover {
    color: $header-nav-hover !important;
  }

  .logo img {
    height: 160px;
  }
}

.nav {
  ul {
    display: flex;
  }

  a {
    font-size: 1.6rem;
    // font-size: (1em, 2.5vw, 1.6em);
    text-decoration: none;
    color: $header-nav !important;
  }

  a:hover {
    color: $header-nav-hover !important;
    background-color: $header-nav-hover-back;
  }
}
