.header {
  background-color: $header-background;

  @include flex-container;
  width: 100%;
  padding: 2rem;
}

.site-header {
  @include flex-container;
  gap: 5vw;

  h1 {
    font-size: 2.5em;
    font-family: 'Prosto One', sans-serif;
    border-bottom: 3px solid $header-nav-hover-back;
  }

  a {
    color: $header-nav;
    text-decoration: none;
  }

  a:hover {
    color: $header-nav-hover !important;
  }

  .logo img {
    height: 160px;
  }
}

.nav {
  ul {
    display: flex;
  }
}

.nav ul a {
  font-size: 1.6rem;
  text-decoration: none;
  color: $header-nav !important;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: $header-nav-hover-back;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%; // När man hovrar, fyll hela bredden av länken
  }
}
