table {
  font-size: 1em;
  margin-bottom: $magic-number;
  border-collapse: collapse;
  width: 100%;

  // tr:nth-child(2n) {
  //     background-color: #ddd;
  // }

  tbody>tr:hover {
    background-color: $table-hover-color;
  }

  td,
  th {
    padding: 4px 12px;
  }

  th {
    text-align: left;
  }

  td {
    border-top: 1px solid $code-edge-color;
  }
}

.data-table.pagespeed {
  width: 100%;
  height: 600px;
}

.data-table.devtools {
  width: 100%;
  max-width: 780px;
  height: 380px;
}
